@function rem($size, $base: $em-base) {
    $remSize: $size / $em-base;
    @return #{$remSize}rem;
}
.neo-grid {
    &__header {
        font-size: rem(12);
        background-color: var(--light_hover);
        display: flex;
        padding: rem(8) rem(4);
        justify-content: space-between;
        align-items: center;
        .ng-header-results {
            display: flex;
            font-size: rem(14);
            color: var(--textcolor);
            align-items: center;
            min-width: rem(90);
            &__check {
                padding-right: rem(16);
            }
            &__title {
                margin-left: rem(4);
                display: inline-block;
            }
        }
        .ng-header-utils {
            display: flex;
            align-items: center;
            margin-left: auto;
            .ng-txt-wrap {
                position: relative;
                .ng-txt {
                    padding: rem(1) 0 0 rem(24);
                }
                &__icon {
                    position: absolute;
                    left: rem(7);
                    top: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    .ng-icon {
                        height: rem(15);
                        width: rem(15);
                    }
                }
            }
            &__items {
                position: relative;
                .ng-icon-block {
                    .ng-icon {
                        zoom: 1.4;
                        &--filter {
                            zoom: 1;
                        }
                    }
                }
            }
            &__icons {
                margin-left: rem(8);
                border: var(--border) solid rem(1);
                border-radius: rem(3);
                cursor: pointer;
                line-height: rem(1);
                height: rem(32);
                width: rem(32);
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--white);
            }
        }
    }

    &__customPanel {
        flex-grow: 1;
        align-items: center;
    }
}
