@function rem($size, $base: $em-base) {
    $remSize: $size / $em-base;
    @return #{$remSize}rem;
}
.neo-grid {
    &__thead {
        font-size: rem(12);
        background: var(--light-grey);
        border-bottom: rem(1) solid var(--border);
        flex-wrap: wrap;
        &:last-child {
            margin-bottom: rem(50);
        }
        &.withScroll {
            .neo-grid__tr {
                overflow-y: scroll;
                overflow-x: hidden;
                &::-webkit-scrollbar {
                    visibility: hidden;
                }
            }
        }
    }
    &__th {
        padding: rem(4);
        color: var(--textcolor);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: rem(1) solid transparent;
        border-right: rem(1) solid transparent;
        position: relative;
        &:hover {
            border-left: rem(1) solid var(--border-grey);
            border-right: rem(1) solid var(--border-grey);
        }
        .neo-grid__th-title {
            height: 100%;
            display: flex;
            align-items: center;
        }
        .ng-txt-wrap {
            display: none;
            margin-top: auto;
            padding-top: rem(6);
            &__open {
                display: block;
            }
        }
        .ng-txt {
            width: 100%;
        }
        .neo-grid__th-icon {
            margin-left: rem(4);
            display: flex;
            flex-direction: column;
            .ng-icon {
                height: rem(10);
                width: rem(10);
                &.neo-grid__sort-desc {
                    transform: rotate(-180deg);
                    &.is-active {
                        fill: var(--default);
                    }
                }
                &.neo-grid__sort-asc {
                    position: relative;
                    top: rem(-3);
                    &.is-active {
                        fill: var(--default);
                    }
                }
            }
        }
        &.neo-grid__th-group {
            .neo-grid__th-title {
                justify-content: center;
            }
        }
        .neo-grid__th-resizer {
            right: rem(-5);
            left: rem(-5);
            width: rem(10);
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 1;
            touch-action: none;
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer */
            -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
            -webkit-user-select: none; /* Chrome, Safari, and Opera */
            -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
        }
    }
    &__tbody {
        .neo-grid__tbody-list {
            will-change: auto !important;
        }
        .neo-grid__row-selector {
            padding: rem(8) rem(4);
            height: 100%;
            display: flex;
            align-items: flex-start;
        }
        .neo-grid__child {
            .neo-grid__row-selector {
                padding: rem(8) rem(4) rem(8) rem(20);
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
            }
        }
        .disabled {
            .neo-grid__row-wrap {
                background-color: var(--box-shadow);
                .neo-grid__td {
                    .neo-grid__cell-edit {
                        display: none;
                    }
                }
                .form-check-input {
                    pointer-events: none;
                    background-color: var(--box-shadow);
                }
            }
            .neo-grid__row-expand {
                background-color: var(--box-shadow);
            }
        }
        .neo-grid__tr {
            border-bottom: rem(1) solid var(--light-grey);
            flex-wrap: wrap;
        }
        .ng-accordion {
            display: flex;
            border-bottom: rem(1) solid var(--border-default);
            &__container {
                width: 100%;
                display: table;
            }
            &__session {
                width: 100%;
                display: flex;
            }
            &__block {
                display: flex;
                align-items: center;
                padding: 0 rem(4);
            }
            &__icon {
                width: rem(20);
                height: rem(20);
                margin: 0 rem(10);
                border: var(--border-light) solid rem(1);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                cursor: pointer;
            }
            &__content {
                width: 100%;
            }
        }
        .ng-loadmore {
            width: 100%;
            text-align: center;
            border-top: var(--light-grey) solid rem(1);
            padding: rem(8) 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__td {
        position: relative;
    }
    &__table {
        margin-bottom: 1rem;
        .neo-grid__content {
            display: table;
            width: 100%;
        }
        .neo-grid__row-container {
            width: 100%;
            display: table;
        }
        .neo-grid__row-wrap {
            width: 100%;
            display: flex;
        }
        .neo-grid__row-expand {
            width: 100%;
        }
        .ng-action {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            margin-right: rem(6);
            box-sizing: border-box;
            padding: rem(10) rem(6);
            &__arrow-up {
                transform: rotate(-180deg);
            }
            &__utils {
                position: relative;
            }
            &__utils-block {
                position: relative;
                cursor: pointer;
                width: rem(16);
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__kebab {
                width: rem(15);
                height: rem(15);
            }
            &__popover {
                display: block;
                position: absolute;
                background: var(--white);
                border-radius: rem(4);
                border: var(--border) solid rem(1);
                width: auto;
                right: 0;
                top: 0;
                padding: rem(16) rem(10);
                margin-bottom: rem(40);
                z-index: 9;
                white-space: nowrap;
            }
            &__close {
                position: absolute;
                top: rem(5);
                right: rem(5);
                font-size: rem(14);
                cursor: pointer;
            }
        }

        .neo-grid__cell-edit {
            position: absolute;
            top: rem(8);
            right: rem(8);
            cursor: pointer;
            display: block;
        }
        .neo-grid__cell-content {
            height: 100%;
        }
        .neo-grid__content-edit {
            display: flex;
            position: absolute;
            z-index: 9;
            background: var(--white);
            border: var(--light-grey) solid rem(1);
            top: rem(5);
            padding: rem(4);
            border-radius: rem(4);
            width: auto;
            white-space: nowrap;
            box-shadow: 0 0 rem(8) 0 var(--box-shadow);
            .ng-icon {
                height: rem(15);
                width: rem(15);
                &.ng-icon--tick {
                    fill: var(--white);
                }
            }
        }
    }

    &--portal {
        .neo-grid__header {
            background: transparent;
            &--borderless {
                border: 0 !important;
            }
        }
        .neo-grid__row-wrap {
            background: var(--white);
            border-radius: rem(12);
            &--expand {
                border-radius: rem(12) rem(12) 0 0;
            }
        }
        .neo-grid__tr {
            padding-bottom: rem(10);
            border: none;
        }
        .neo-grid__tbody {
            margin-top: rem(10);
            &--nohead {
                margin-top: 0;
            }
        }
        .neo-grid__tbody .row-selector-cell-container {
            justify-content: center;
            align-items: center;
        }
    }
}
