@function rem($size, $base: $em-base) {
    $remSize: $size / $em-base;
    @return #{$remSize}rem;
}
.neo-grid {
    &__header {
        background-color: var(--secondary);
        display: flex;
        padding: rem(8) rem(4);
        justify-content: space-between;
        border-bottom: 1px solid var(--border-grey);
        .header-results {
            display: flex;
            font-size: rem(14);
            color: var(--titlecolor);
            font-weight: $font-weight-bold;
            align-items: center;
            min-width: rem(90);
        }
        &__type {
            margin-left: rem(5);
            display: inline-block;
        }
        .header-utils {
            display: flex;
            align-items: center;
            .txt-wrap {
                position: relative;
                .txt {
                    padding: 1px 0 0 rem(24);
                }
                i {
                    position: absolute;
                    left: 7px;
                    top: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
            }
            &__items {
                position: relative;
            }
            &__icons {
                margin-left: rem(4);
                border: var(--border-grey) solid 1px;
                border-radius: rem(3);
                cursor: pointer;
                line-height: 1px;
                height: rem(32);
                width: rem(32);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__customPanel {
        flex-grow: 1;
        align-items: center;
    }
}
