@function rem($size, $base: $em-base) {
    $remSize: $size / $em-base;
    @return #{$remSize}rem;
}
.neo-grid {
    &__header {
        background-color: var(--light_hover);
        display: flex;
        padding: rem(8) rem(4);
        justify-content: space-between;
        .ng-header-results {
            display: flex;
            font-size: rem(14);
            color: var(--textcolor);
            align-items: center;
            min-width: rem(90);
            &__check {
                padding-right: 4px;
            }
            &__title {
                margin-left: rem(4);
                display: inline-block;
            }
        }
        .ng-header-utils {
            display: flex;
            align-items: center;
            .ng-txt-wrap {
                position: relative;
                .ng-txt {
                    padding: 1px 0 0 rem(24);
                }
                &__icon {
                    position: absolute;
                    left: 7px;
                    top: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
            }
            &__items {
                position: relative;
            }
            &__icons {
                margin-left: rem(8);
                border: var(--border) solid 1px;
                border-radius: rem(3);
                cursor: pointer;
                line-height: 1px;
                height: rem(32);
                width: rem(32);
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--white);
            }
        }
    }

    &__customPanel {
        flex-grow: 1;
        align-items: center;
    }
}
