@function rem($size, $base: $em-base) {
    $remSize: $size / $em-base;
    @return #{$remSize}rem;
}
.neo-grid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    .ng-sticky {
        position: sticky !important;
        z-index: 2;
        &--left {
            &__last {
                box-shadow: -13px 4px 5px -11px inset var(--border-default);
            }
        }
        &--right {
            right: 0;
            box-shadow: 13px 4px 5px -11px inset var(--border-default);
        }
    }
    .ng-accordion {
        display: flex;
        border-bottom: 1px solid var(--border-default);
        background: var(--white);
        &__container {
            width: 100%;
            display: table;
        }
        &__session {
            width: 100%;
            display: flex;
            position: sticky;
            left: 0;
        }
        &__block {
            display: flex;
            align-items: center;
            padding: 0 rem(4);
        }
        &__icon {
            width: rem(20);
            height: rem(20);
            margin: rem(8) 0;
            border: var(--border-light) solid 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            .ng-icon {
                fill: var(--primary);
            }
        }
        &__content {
            width: 100%;
        }
    }
    &__thead {
        font-size: rem(12);
        background: var(--light-grey);
        border-bottom: 1px solid var(--border);
        flex-wrap: wrap;
        position: sticky;
        z-index: 6;
        top: 0;
        left: 0;
        .ng-sticky {
            background: var(--light-grey);
        }
        .ng-accordion__icon {
            margin: 0;
        }
    }
    &__th {
        padding: rem(4);
        color: var(--textcolor);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        position: relative;
        &:hover {
            border-left: 1px solid var(--border-grey);
            border-right: 1px solid var(--border-grey);
        }
        .neo-grid__th-title {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .ng-txt-wrap {
            display: none;
            margin-top: auto;
            padding-top: rem(6);
            &__open {
                display: block;
            }
        }
        .ng-txt {
            width: 100%;
        }
        .neo-grid__th-iconblock {
            display: flex;
        }
        .neo-grid__th-icon {
            margin-right: rem(4);
            display: flex;
            flex-direction: column;
            .ng-icon {
                height: rem(10);
                width: rem(10);
                &.neo-grid__sort-desc {
                    transform: rotate(-180deg);
                    &.is-active {
                        fill: var(--default);
                    }
                }
                &.neo-grid__sort-asc {
                    position: relative;
                    top: rem(-3);
                    &.is-active {
                        fill: var(--default);
                    }
                }
                &.neo-grid__pin {
                    margin-top: 3px;
                    height: rem(12);
                    width: rem(12);
                    fill: var(--danger);
                }
            }
        }
        &.neo-grid__th-group {
            .neo-grid__th-title {
                justify-content: center;
            }
        }
        .neo-grid__th-resizer {
            right: rem(-5);
            width: rem(10);
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 15;
            touch-action: none;
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer */
            -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
            -webkit-user-select: none; /* Chrome, Safari, and Opera */
            -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
        }
    }
    &__tbody {
        .neo-grid__tbody-list {
            will-change: auto !important;
        }
        .neo-grid__row-selector {
            padding: rem(8) rem(4);
            height: 100%;
            display: flex;
            align-items: flex-start;
        }
        .neo-grid__child {
            .neo-grid__row-selector {
                padding: rem(8) rem(4) rem(8) rem(20);
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
            }
        }
        .disabled {
            .neo-grid__row-wrap {
                background-color: var(--border-light);
                .neo-grid__td {
                    &.ng-sticky {
                        background-color: var(--border-light);
                    }
                    .neo-grid__cell-edit {
                        display: none;
                    }
                }
            }
            .neo-grid__row-expand {
                background-color: var(--border-light);
                .ng-sticky {
                    background-color: var(--border-light);
                    &--left {
                        left: 0;
                    }
                    &--right {
                        right: 0;
                    }
                }
            }
        }
        .neo-grid__tr {
            border-bottom: 1px solid var(--light-grey);
            flex-wrap: wrap;
            background: var(--white);
        }
        .neo-grid__pinnedtr {
            position: sticky !important;
            z-index: 6 !important;
            &--lasttr {
                box-shadow: 0 -8px 6px -6px inset var(--border-default);
            }
        }
        .ng-loadmore {
            width: 100%;
            text-align: center;
            border-top: var(--light-grey) solid 1px;
            padding: rem(8) 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: sticky;
            left: 0;
        }
    }
    &__td {
        position: relative;
        &.ng-sticky {
            background-color: var(--white);
            border-bottom: var(--light-grey) solid 1px;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &__table {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
        &--parent {
            .ng-accordion__icon {
                margin: 0 rem(10);
            }
        }
        .neo-grid__content {
            display: table;
            width: 100%;
            &--sub {
                .neo-grid__thead {
                    background: var(--light-grey);
                    position: static;
                    z-index: auto;
                    top: auto;
                    left: auto;
                    .neo-grid__tr {
                        background: transparent !important;
                    }
                    .neo-grid__row-selector {
                        padding: 0;
                    }
                }
                .neo-grid__tbody {
                    .neo-grid__tr {
                        background: var(--white);
                    }
                    .neo-grid__td {
                        &.ng-sticky {
                            border-bottom: none;
                        }
                    }
                    .neo-grid__row-expand {
                        .ng-sticky {
                            &--left {
                                border-bottom: none;
                                margin-top: 0;
                            }
                            &--right {
                                border-bottom: none;
                                margin-top: 0;
                            }
                        }
                    }
                }
                .ng-action {
                    padding-top: rem(4);
                    padding-bottom: 2px;
                }
            }
        }
        .neo-grid__row-container {
            width: 100%;
            display: table;
        }
        .neo-grid__row-wrap {
            width: 100%;
            display: flex;
        }
        .neo-grid__row-expand {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .ng-sticky {
                background-color: var(--white);
                &--left {
                    left: 0;
                    border-bottom: solid 1px var(--light-grey);
                    margin-top: -1px;
                }
                &--right {
                    right: 0;
                    border-bottom: solid 1px var(--light-grey);
                    margin-top: -1px;
                }
            }
        }
        .neo-grid__row-loader {
            position: sticky;
            left: 0;
        }
        .ng-action {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            margin-right: rem(6);
            box-sizing: border-box;
            padding: rem(10) rem(6);
            &__arrow-up {
                transform: rotate(-180deg);
            }
            &__utils {
                position: relative;
            }
            &__utils-block {
                position: relative;
                cursor: pointer;
                width: rem(16);
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__kebab {
                width: rem(15);
                height: rem(15);
            }
            &__popover {
                display: block;
                position: absolute;
                background: var(--white);
                border-radius: 4px;
                border: var(--border) solid 1px;
                width: auto;
                right: 0;
                top: 0;
                padding: rem(16) rem(10);
                margin-bottom: rem(40);
                z-index: 5;
                white-space: nowrap;
                &--pin {
                    margin-top: 14px !important;
                }
                .ng-action__pin {
                    fill: var(--danger) !important;
                }
            }
            &__close {
                position: absolute;
                top: rem(5);
                right: rem(5);
                font-size: rem(14);
                cursor: pointer;
            }
        }

        .neo-grid__cell-edit {
            position: absolute;
            top: rem(8);
            right: rem(8);
            cursor: pointer;
            display: block;
        }
        .neo-grid__cell-content {
            height: 100%;
        }
        .neo-grid__content-edit {
            display: flex;
            position: absolute;
            z-index: 5;
            background: var(--white);
            border: var(--light-grey) solid 1px;
            top: rem(5);
            padding: rem(4);
            border-radius: 4px;
            width: auto;
            white-space: nowrap;
            box-shadow: 0 0 8px 0 var(--box-shadow);
            .ng-icon--tick {
                fill: var(--white);
            }
        }
        .ng-scrolltrack {
            right: 2px !important;
            bottom: 2px !important;
            border-radius: 3px !important;
            &--horizontal {
                left: 2px !important;
            }
            &--vertical {
                top: 2px !important;
            }
        }
        .ng-scrollthumb {
            cursor: pointer !important;
            border-radius: inherit !important;
            background-color: var(--border) !important;
            z-index: 10 !important;
        }
    }

    &--portal {
        background: var(--body-bg);
        .neo-grid__header {
            &--borderless {
                border: 0 !important;
            }
        }
        .neo-grid__row-wrap {
            background: var(--white);
            border-radius: 12px;
            &--expand {
                border-radius: 12px 12px 0 0;
            }
        }
        .neo-grid__row-expand {
            background: var(--white);
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }
        .neo-grid__tr {
            padding-bottom: rem(4);
            padding-top: rem(4);
            border: none;
            background: transparent !important;
        }
        .neo-grid__tbody {
            padding-top: rem(4);
            &--parent {
                padding-top: 0 !important;
            }
            &--nohead {
                margin-top: 0;
            }
        }
        .neo-grid__tbody .row-selector-cell-container {
            justify-content: center;
            align-items: center;
        }
    }
}
