@function rem($size, $base: $em-base) {
    $remSize: $size / $em-base;
    @return #{$remSize}rem;
}
.neo-grid {
    .ng-popover {
        z-index: 16;
        box-shadow: 0px 15px 30px var(--box-shadow);
        position: absolute;
        font-size: rem(14);
        color: var(--titlecolor);
        line-height: 32px;
        top: 38px;
        right: 0;
        transition: 0.5s;
        background: var(--white);
        border: 1px solid var(--light-grey);
        &:before {
            width: 0px;
            height: 0px;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            border-bottom: 11px solid var(--white);
            content: "";
            top: -10px;
            position: absolute;
            right: 2px;
        }
        ::-webkit-scrollbar {
            width: 6px;
        }
        ::-webkit-scrollbar-track {
            background: var(--scroll-track);
        }
        ::-webkit-scrollbar-thumb {
            background: var(--scroll-thumb);
        }
        ::-webkit-scrollbar-thumb:hover {
            background: var(--light-grey);
        }
        &__content {
            margin: 10px;
            min-height: 50px;
            overflow-y: auto;
            max-height: 150px;
        }
        &__close {
            margin-left: auto;
            font-size: rem(18);
            cursor: pointer;
        }
        &__header {
            display: flex;
            border-bottom: 1px solid var(--light-grey);
            padding: 10px 10px 2px 10px;
        }
        &__chooser {
            border-right: 1px solid var(--light-grey);
            .ng-chooser-body {
                padding: 10px;
                margin-bottom: 10px;
                height: 440px;
                width: 180px;
                overflow-y: auto;
                overflow-x: hidden;
                &__selectall {
                    display: flex;
                    padding: 0px 10px;
                }
                &__txt {
                    border: 1px solid var(--light-grey);
                    border-radius: 5px;
                    padding: 0px 6px;
                    width: 93%;
                    height: 24px;
                    font-size: rem(12);
                }
                &__wrap {
                    display: flex;
                    border: 1px solid var(--light-grey);
                    border-radius: 5px;
                    padding: 0px 10px;
                }
                &__checkwrap {
                    margin-right: 10px;
                    font-size: rem(12);
                    color: var(--titlecolor);
                }
            }
        }
        &__settings {
            width: 100%;
        }
        &--sort {
            width: 498px;
            &__items {
                display: flex;
            }
            &__section {
                margin: 0px 0px 16px 40px;
                display: flex;
                color: var(--dark-grey);
                width: 14%;
                cursor: pointer;
                .ng-popover__txt {
                    margin-left: 6px;
                    color: #3c476f;
                    line-height: normal;
                    font-size: rem(12);
                    font-weight: normal;
                }
            }
            &__icon-plus {
                font-size: rem(22);
                line-height: 14px;
                color: #3c476f;
            }
            &__items-title {
                display: flex;
                width: 100%;
                justify-content: space-around;
            }
            &__item-text {
                font-size: rem(12);
                position: relative;
                left: -28px;
                &:nth-child(2) {
                    left: -58px;
                }
                &:nth-child(3) {
                    left: -88px;
                }
            }
            &__reorder {
                padding: 0px 6px;
                font-size: rem(12);
            }
            &__icon {
                margin: 2px 0 0;
                cursor: pointer;
            }
            &__select {
                width: 120px;
                height: 28px;
                border-radius: 3px;
                border-color: #d7d7d7;
                color: rgba(26, 72, 105, 0.6);
            }
            &__footer {
                padding: 10px;
                border-top: var(--light-grey);
                display: flex;
                .ng-popover__btns {
                    margin-left: auto;
                }
            }
            &__warning {
                margin-bottom: 10px;
                padding-left: 42px;
                color: var(--danger);
            }
        }
        &--column {
            display: flex;
            @media only screen and (max-width: 991px) {
                width: 680px;
            }
            &__warning {
                margin-left: 10px;
                color: var(--danger);
            }
            &__close {
                margin-left: auto;
                font-size: rem(18);
                cursor: pointer;
            }
            &__body {
                display: flex;
                padding: 10px;
                flex-wrap: wrap;
                overflow-y: scroll;
                height: 380px;
                width: 768px;
                padding-bottom: 60px;
                @media only screen and (max-width: 991px) {
                    width: 100%;
                }
            }
            &__reorder {
                border: 1px solid #8da3b4;
                border-radius: 3px;
                text-align: center;
                min-height: 150px;
                margin: 10px 4px;
                padding: 10px 4px;
                -moz-user-select: none;
                -ms-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -webkit-touch-callout: none;
                min-width: 90px;
                word-break: break-all;
                line-height: normal;
                font-size: rem(12);
                &.is-full-width {
                    width: 95%;
                    max-width: none;
                    height: auto;
                    min-height: 80px;
                    max-height: 80px;
                    text-align: left;
                    padding-left: 10px;
                }
            }
            &__drag {
                margin-bottom: 10px;
            }
            &__wrap {
                display: flex;
                justify-content: left;
            }
            &__list {
                margin-top: 14px;
                &--group {
                    text-align: left;
                }
            }
            &__title {
                margin-bottom: 6px;
                display: block;
            }
            &__check {
                margin-right: 10px;
            }
            &__footer {
                padding: 10px;
                border-top: 1px solid var(--light-grey);
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 80.9%;
                display: flex;
                background: var(--white);
            }
            &__btns {
                margin-left: auto;
            }
        }
        &--exports {
            width: 550px;
            display: flex;
            &__header {
                padding: 10px;
                border-bottom: var(--light-grey) solid 1px;
                color: #3c425e;
                font-size: rem(14);
                display: flex;
            }
            &__close {
                margin-left: auto;
                font-size: rem(14);
                cursor: pointer;
            }
            &__title {
                padding: 10px 14px 0;
                font-size: rem(14);
            }
            &__body {
                display: flex;
                padding: 10px;
            }
            &__reorder {
                border: 1px solid var(--dark-grey);
                border-radius: 5px;
                height: 86px;
                margin: 0 4px;
                padding: 8px 10px;
                width: 86px;
            }
            &__file {
                text-align: center;
                .ng-popover--exports__file-type {
                    display: block;
                    font-size: rem(14);
                    font-weight: normal;
                    line-height: normal;
                }
            }
            &__footer {
                padding: 16px 10px;
                border-top: 1px solid var(--light-grey);
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 67%;
                display: flex;
                @media only screen and (max-width: 1024px) {
                    width: 66.8%;
                }
            }
            &__btns {
                margin-left: auto;
            }
            &__warning {
                position: absolute;
                margin-top: 300px;
                right: 5%;
                color: var(--danger);
            }
        }
    }
}
