@function rem($size, $base: $em-base) {
    $remSize: $size / $em-base;
    @return #{$remSize}rem;
}
.neo-grid {
    .ng-popover {
        z-index: 16;
        box-shadow: 0 rem(15) rem(30) var(--box-shadow);
        position: absolute;
        font-size: rem(13);
        color: var(--textcolor);
        line-height: rem(32);
        top: rem(38);
        right: 0;
        transition: 0.5s;
        background: var(--white);
        border: rem(1) solid var(--border);
        border-radius: rem(3);
        &:before {
            width: 0;
            height: 0;
            border-left: rem(11) solid transparent;
            border-right: rem(11) solid transparent;
            border-bottom: rem(11) solid var(--white);
            content: "";
            top: rem(-10);
            position: absolute;
            right: rem(2);
        }
        ::-webkit-scrollbar {
            width: rem(6);
        }
        ::-webkit-scrollbar-track {
            background: var(--scroll-track);
        }
        ::-webkit-scrollbar-thumb {
            background: var(--scroll-thumb);
        }
        ::-webkit-scrollbar-thumb:hover {
            background: var(--light-grey);
        }
        &__content {
            margin: rem(10);
            min-height: rem(50);
            overflow-y: auto;
            max-height: rem(150);
        }
        &__close {
            margin-left: auto;
            font-size: rem(18);
            cursor: pointer;
        }
        &__header {
            display: flex;
            border-bottom: rem(1) solid var(--light-grey);
            padding: rem(10) rem(10) rem(2) rem(10);
        }
        &__chooser {
            border-right: rem(1) solid var(--light-grey);
            .ng-chooser-body {
                padding: rem(10);
                margin-bottom: rem(10);
                height: rem(440);
                width: rem(180);
                overflow-y: auto;
                overflow-x: hidden;
                &__selectall {
                    display: flex;
                    padding: 0 rem(10);
                }
                &__txt {
                    border: rem(1) solid var(--border);
                    border-radius: rem(5);
                    padding: 0 rem(6);
                    width: 93%;
                    height: rem(24);
                    font-size: rem(12);
                }
                &__wrap {
                    display: flex;
                    border: rem(1) solid var(--border);
                    border-radius: rem(3);
                    padding: 0 rem(10);
                    border-bottom: none;
                    &:last-child {
                        border-bottom: rem(1) solid var(--border);
                    }
                }
                &__checkwrap {
                    margin-right: rem(10);
                    font-size: rem(12);
                }
            }
        }
        &__settings {
            width: 100%;
        }
        &--sort {
            width: rem(498);
            &__items {
                display: flex;
            }
            &__section {
                margin: 0 0 rem(16) rem(40);
                display: flex;
                width: 14%;
                cursor: pointer;
                .ng-popover__txt {
                    margin-left: rem(6);
                    color: var(--primary);
                    line-height: normal;
                    font-size: rem(12);
                    font-weight: normal;
                }
            }
            &__icon-plus {
                font-size: rem(22);
                line-height: rem(14);
                color: var(--primary);
            }
            &__items-title {
                display: flex;
                width: 100%;
                justify-content: space-around;
            }
            &__item-text {
                font-size: rem(12);
                position: relative;
                left: rem(-41);
                &:nth-child(2) {
                    left: rem(-69);
                }
                &:nth-child(3) {
                    left: rem(-100);
                }
            }
            &__reorder {
                padding: 0 rem(6);
                font-size: rem(12);
            }
            &__icon {
                margin: rem(2) 0 0;
                cursor: pointer;
            }
            &__select {
                width: rem(120);
                height: rem(28);
                border-radius: rem(3);
                border-color: var(--border);
                color: var(--textcolor);
            }
            &__footer {
                padding: rem(10);
                border-top: var(--light-grey);
                display: flex;
                .ng-popover__btns {
                    margin-left: auto;
                }
            }
            &__warning {
                margin-bottom: rem(10);
                padding-left: rem(42);
                color: var(--danger);
            }
        }
        &--column {
            display: flex;
            @media only screen and (max-width: 991px) {
                width: rem(680);
            }
            &__warning {
                margin-left: rem(10);
                color: var(--danger);
            }
            &__close {
                margin-left: auto;
                font-size: rem(18);
                cursor: pointer;
            }
            &__body {
                display: flex;
                padding: rem(10);
                flex-wrap: wrap;
                overflow-y: scroll;
                height: rem(380);
                width: rem(768);
                padding-bottom: rem(60);
                @media only screen and (max-width: 991px) {
                    width: 100%;
                }
            }
            &__reorder {
                border: rem(1) solid var(--border);
                border-radius: rem(3);
                text-align: center;
                min-height: rem(150);
                margin: rem(10) rem(4);
                padding: rem(10) rem(4);
                -moz-user-select: none;
                -ms-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -webkit-touch-callout: none;
                min-width: rem(90);
                word-break: break-all;
                line-height: normal;
                font-size: rem(12);
                &.is-full-width {
                    width: 95%;
                    max-width: none;
                    height: auto;
                    min-height: rem(80);
                    text-align: left;
                    padding-left: rem(10);
                }
            }
            &__drag {
                margin-bottom: rem(10);
            }
            &__wrap {
                display: flex;
                justify-content: left;
            }
            &__list {
                margin-top: rem(14);
                &--group {
                    text-align: left;
                }
            }
            &__title {
                margin-bottom: rem(6);
                display: block;
            }
            &__check {
                margin-right: rem(10);
            }
            &__footer {
                padding: rem(10);
                border-top: rem(1) solid var(--light-grey);
                position: absolute;
                bottom: 0;
                right: 0;
                width: 80.9%;
                display: flex;
                background: var(--white);
                @media only screen and (max-width: 768px) {
                    width: 73.2%;
                }
            }
            &__btns {
                margin-left: auto;
            }
        }
        &--exports {
            width: rem(550);
            display: flex;
            &__header {
                padding: rem(10);
                border-bottom: var(--light-grey) solid rem(1);
                font-size: rem(14);
                display: flex;
            }
            &__close {
                margin-left: auto;
                font-size: rem(14);
                cursor: pointer;
            }
            &__title {
                padding: rem(10) rem(14) 0;
                font-size: rem(14);
            }
            &__body {
                display: flex;
                padding: rem(10);
            }
            &__reorder {
                border: rem(1) solid var(--border);
                border-radius: rem(5);
                height: rem(86);
                margin: 0 rem(4);
                padding: rem(8) rem(10);
                width: rem(86);
                line-height: normal;
            }
            &__file {
                text-align: center;
                .ng-popover--exports__file-type {
                    display: block;
                    font-size: rem(14);
                    font-weight: normal;
                    line-height: normal;
                }
            }
            &__footer {
                padding: rem(16) rem(10);
                border-top: rem(1) solid var(--light-grey);
                position: absolute;
                bottom: 0;
                right: 0;
                width: 67%;
                display: flex;
                @media only screen and (max-width: 1024px) {
                    width: 66.8%;
                }
            }
            &__btns {
                margin-left: auto;
            }
            &__warning {
                position: absolute;
                margin-top: rem(300);
                right: 5%;
                color: var(--danger);
            }
        }
    }
}
