@function rem($size, $base: $em-base) {
    $remSize: $size / $em-base;
    @return #{$remSize}rem;
}
.neo-grid {
    .ng-popover {
        z-index: 10;
        box-shadow: 0 15px 30px var(--box-shadow);
        position: absolute;
        font-size: rem(13);
        color: var(--textcolor);
        line-height: rem(32);
        top: rem(38);
        right: 0;
        transition: 0.5s;
        background: var(--white);
        border: 1px solid var(--border);
        border-radius: 3px;
        &:before {
            width: 0;
            height: 0;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            border-bottom: 11px solid var(--white);
            content: "";
            top: rem(-10);
            position: absolute;
            right: 2px;
        }
        ::-webkit-scrollbar {
            width: rem(6);
        }
        ::-webkit-scrollbar-track {
            background: var(--scroll-track);
        }
        ::-webkit-scrollbar-thumb {
            background: var(--scroll-thumb);
        }
        ::-webkit-scrollbar-thumb:hover {
            background: var(--light-grey);
        }
        &__content {
            margin: rem(10);
            min-height: rem(50);
            overflow-y: auto;
            max-height: rem(150);
        }
        &__close {
            margin-left: auto;
            font-size: rem(18);
            cursor: pointer;
        }
        &__header {
            display: flex;
            border-bottom: 1px solid var(--light-grey);
            padding: rem(10) rem(10) 2px rem(10);
        }
        &__chooser {
            border-right: 1px solid var(--light-grey);
            .ng-chooser-body {
                padding: rem(10);
                margin-bottom: rem(10);
                height: rem(440);
                width: rem(238);
                overflow-y: auto;
                overflow-x: hidden;
                &__selectall {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 rem(10);
                }
                &__txt {
                    border: 1px solid var(--border);
                    border-radius: 3px;
                    padding: 0 rem(6);
                    width: 100%;
                    height: rem(30);
                    font-size: rem(12);
                    margin-bottom: rem(6);
                }
                &__wrap {
                    display: flex;
                    border: 1px solid var(--border);
                    border-radius: 3px;
                    padding: 0 rem(10);
                    height: rem(32);
                    &:last-child {
                        border-bottom: 1px solid var(--border);
                    }
                }
                &__checkwrap {
                    margin-right: rem(10);
                    font-size: rem(12);
                    display: flex;
                    align-items: center;
                }
            }
        }
        &__settings {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &__footer {
            padding: rem(16) rem(10);
            border-top: 1px solid var(--light-grey);
            display: flex;
            margin-top: auto;
            justify-content: flex-end;
        }
        &--sort {
            width: rem(498);
            &__content {
                display: flex;
                flex-wrap: wrap;
            }
            &__items {
                display: flex;
                .ng-popover__reorder {
                    .ng-icon-block {
                        display: flex;
                        margin-top: rem(8);
                        .ng-icon {
                            zoom: 1;
                        }
                    }
                }
                .ng-popover__drag {
                    cursor: move;
                }
                .ng-icon {
                    height: rem(15);
                    width: rem(15);
                }
            }
            &__section {
                margin: 0 0 rem(16) rem(40);
                display: flex;
                width: 14%;
                cursor: pointer;
                .ng-popover__txt {
                    margin-left: rem(6);
                    color: var(--primary);
                    line-height: normal;
                    font-size: rem(12);
                }
            }
            &__icon-plus {
                font-size: rem(22);
                line-height: rem(14);
                color: var(--primary);
            }
            &__items-title {
                display: flex;
                width: 100%;
                justify-content: space-around;
            }
            &__item-text {
                font-size: rem(12);
                position: relative;
                left: rem(-41);
                &:nth-child(2) {
                    left: rem(-69);
                }
                &:nth-child(3) {
                    left: rem(-100);
                }
            }
            &__reorder {
                padding: 0 rem(6);
                font-size: rem(12);
            }
            &__icon {
                margin: 2px 0 0;
                cursor: pointer;
            }
            &__select {
                width: rem(120);
                height: rem(28);
                border-radius: 3px;
                border-color: var(--border);
                color: var(--textcolor);
            }
            &__warning {
                margin-bottom: rem(10);
                padding-left: rem(42);
                color: var(--danger);
            }
        }
        &--column {
            display: flex;
            @media only screen and (max-width: 991px) {
                width: rem(680);
            }
            &__warning {
                margin-left: rem(10);
                color: var(--danger);
            }
            &__close {
                margin-left: auto;
                font-size: rem(18);
                cursor: pointer;
            }
            &__body {
                display: flex;
                flex-direction: row;
                padding: rem(10);
                flex-wrap: wrap;
                overflow-y: scroll;
                height: rem(380);
                width: rem(672);
                padding-bottom: rem(30);
                @media only screen and (max-width: 991px) {
                    width: 100%;
                }
            }
            &__head {
                width: 100%;
                font-size: rem(12);
                line-height: 1;
                margin: rem(20) 0 0 rem(8);
            }
            &__content {
                display: flex;
                flex-wrap: wrap;
            }
            &__reorder {
                border: 1px solid var(--border);
                border-radius: 3px;
                text-align: center;
                min-height: rem(150);
                margin: rem(6) rem(6);
                padding: rem(10) rem(8);
                -moz-user-select: none;
                -ms-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -webkit-touch-callout: none;
                min-width: rem(104);
                word-break: break-all;
                line-height: normal;
                font-size: rem(12);
                &.is-full-width {
                    width: 95%;
                    max-width: none;
                    height: auto;
                    min-height: rem(80);
                    text-align: left;
                    padding-left: rem(10);
                    .ng-popover--column__list {
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                    }
                    .ng-popover--column__wrap {
                        display: flex;
                        min-width: rem(140);
                    }
                }
            }
            &__drag {
                margin-bottom: rem(10);
                cursor: move;
            }
            &__pin {
                margin-top: rem(14);
            }
            &__wrap {
                display: flex;
                justify-content: left;
            }
            &__list {
                margin-top: rem(14);
                &--group {
                    text-align: left;
                }
            }
            &__title {
                margin-bottom: rem(6);
                display: block;
            }
            &__check {
                margin-right: rem(10);
            }
        }
        &--exports {
            width: rem(550);
            display: flex;
            &__close {
                margin-left: auto;
                font-size: rem(14);
                cursor: pointer;
            }
            &__title {
                padding: rem(10) rem(14) 0;
                font-size: rem(14);
            }
            &__body {
                display: flex;
                padding: rem(10);
            }
            &__reorder {
                border: 1px solid var(--border);
                border-radius: 5px;
                height: rem(86);
                margin: 0 rem(4);
                padding: 2px rem(8);
                width: rem(86);
                line-height: normal;
            }
            &__file {
                text-align: center;
                .ng-icon {
                    zoom: 2.7;
                    &--pdf {
                        fill: var(--danger);
                    }
                    &--excel {
                        fill: var(--success);
                    }
                    &--csv {
                        fill: var(--default);
                    }
                }
                .ng-popover--exports__file-type {
                    display: block;
                    font-size: rem(12);
                    line-height: normal;
                    margin-top: rem(4);
                }
            }
            &__warning {
                position: absolute;
                margin-top: rem(300);
                right: 5%;
                color: var(--danger);
            }
        }
    }
}
