/*  Root style
*  ------------------------------------------------------ */
:root {
    --default: #004164; /* rgba(0, 65, 100) */
    --default_hover: #28465b; /* rgba(40, 70, 91) */
    --primary: #00b4b4; /* rgba(0, 180, 180) */
    --primary-light: #e5f7f7; /* rgba(0, 180, 180, 0.1) */
    --tertiary: #4ccaca; /* rgba(0, 180, 180, 0.7) */
    --border-green: #99e1e1; /*rgba(0, 180, 180, 0.4) */
    --titlecolor: #004164; /*rgba(0, 65, 100); */
    --light-grey: #e5ecef; /*rgba(0, 65, 100, 0.1); */
    --border-light: #d9e3e8; /*rgba(0, 65, 100, 0.15); */
    --box-shadow: #d9e3e8; /*rgba(0, 65, 100, 0.15); */
    --border: #bfcfd8; /*rgba(0, 65, 100, 0.25); */
    --border-grey: #b2c6d0; /*rgba(0, 65, 100, 0.3); */
    --border-default: #99b3c1; /*rgba(0, 65, 100, 0.4); */
    --reserved: #7fa0b1; /*rgba(0, 65, 100, 0.5); */
    --dark-grey: #4c7a92; /*rgba(0, 65, 100, 0.7); */
    --text-light: #40718b; /*rgba(0, 65, 100, 0.75); */
    --placeholder: #195473; /*rgba(0, 65, 100, 0.9); */
    --textcolor: #195473; /*rgba(0, 65, 100, 0.9); */
    --icon-primary: #8f9eab; /*rgb(143, 158, 171); */
    --icon-secondary: #9bb1bf; /*rgb(155, 177, 191); */
    --primary_hover: #06808d;
    --light_hover: #f1f4f7;
    --secondary: #f7fafc;
    --linkcolor: #00b4b4;
    --info: #11cdef;
    --text-dark: #212529;
    --danger: #dc3545;
    --danger_hover: #c82333;
    --danger_border: #bd2130;
    --success: #2dce89;
    --success_hover: #218838;
    --success_border: #1e7e34;
    --grey: #76728c;
    --white: #fff;
    --orange: #ff6400;
    --warning: #ffc107;
    --warning_hover: #e0a800;
    --warning_border: #d39e00;
    --danger_light: #f9eaea;
    --success_light: #eafaf3;
    --warning_light: #fef9ea;
    --focus: #199ed8;
    --form-label: #59839a;
    --font: "Roboto", sans-serif;
    --em-base: 16;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*  portal theme Styles
*  ------------------------------------------------------ */
.sample-bg {
    background: rgb(235, 239, 243);
}

/*  Checkbox Styles
*  ------------------------------------------------------ */
.neo-form-check {
    padding: 0;
    display: inline-flex;
    align-items: center;
    height: 1.5rem;
}
.neo-form-check.form-check-inline {
    display: inline-flex;
    cursor: pointer;
}
.neo-form-check__label {
    margin: 0;
    padding-left: 0.5rem;
    cursor: pointer;
}
input[type="checkbox"].neo-checkbox {
    -webkit-appearance: initial;
    appearance: initial;
    width: 16px;
    min-width: 16px;
    height: 16px;
    border: none;
    border: 1px solid;
    position: relative;
    border-radius: 2px;
    outline: none;
    background: #fff;
    border-color: #c3c3c3;
    margin: 0 !important;
}
input[type="checkbox"].neo-checkbox:focus {
    border-color: var(--primary);
}
input[type="checkbox"].neo-checkbox:checked:after {
    content: "\2713";
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--white);
    cursor: pointer;
}
input[type="checkbox"].neo-checkbox:checked {
    background: var(--primary);
    -webkit-transition: all 0.35s ease;
    transition: all 0.3s ease;
}
input[type="checkbox"].neo-checkbox:checked:after {
    color: var(--white);
}
.form-check-inline .form-check-input {
    position: relative;
}
input[type="checkbox"].neo-checkbox:checked {
    border: 1px solid var(--primary) !important;
    box-shadow: 0px 0px 1px 2px var(--primary-light);
}

/*  Global Styles
*  ------------------------------------------------------ */
.neo-btn {
    display: inline-block;
    font-weight: 400;
    outline: none !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    margin-right: 0.125rem;
    margin-left: 0.125rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.1875rem;
    -webkit-transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.neo-btn.disabled {
    opacity: 0.55;
    height: auto;
    background: rgba(26, 72, 105, 0.08);
    color: rgba(26, 72, 105, 0.7);
}
.neo-btn.disabled:hover {
    opacity: 0.55;
    background: rgba(26, 72, 105, 0.08) !important;
    color: rgba(26, 72, 105, 0.7) !important;
}
.neo-btn.neo-btn-outline-secondary {
    color: #fd7e13;
    border: 1px solid #fd7e13;
}
.neo-btn.neo-btn-outline-secondary:hover {
    background-color: #fd7e13;
    color: var(--white);
}
.neo-btn.neo-btn-outline-secondary:focus {
    box-shadow: 0 0 0 1px #fd7e13;
}
.neo-btn.neo-btn-outline-secondary:active {
    background-color: #fd7e13;
    border-color: #fd7e13;
    background-size: 100%;
    transition: background 0.3s;
    color: var(--white);
}
.neo-btn.neo-btn-icon {
    padding: 0;
    background-color: var(--white);
    border-color: var(--default);
}
.neo-btn.neo-btn-icon svg {
    fill: var(--default);
}
.neo-btn.neo-btn-icon:hover {
    background-color: var(--default_hover);
    border-color: var(--default_hover);
}
.neo-btn.neo-btn-icon:hover svg {
    fill: var(--white);
}
.neo-btn.neo-btn-icon:active {
    background-color: var(--default_hover) !important;
    border-color: var(--default_hover) !important;
}
.neo-btn.neo-btn-icon:active svg {
    fill: var(--white);
}
.neo-btn.neo-btn-icon.disabled {
    background-color: var(--border) !important;
    border-color: var(--border) !important;
    cursor: not-allowed;
}
.neo-btn.neo-btn-icon.disabled svg {
    fill: var(--default) !important;
}
.neo-btn.neo-btn-icon.disabled:hover svg {
    fill: var(--default) !important;
}
.neo-btn.neo-btn-icon__primary {
    border-color: var(--primary);
}
.neo-btn.neo-btn-icon__primary svg {
    fill: var(--primary);
}
.neo-btn.neo-btn-icon__primary:hover {
    background-color: var(--primary_hover);
    border-color: var(--primary_hover);
}
.neo-btn.neo-btn-icon__primary:hover svg {
    fill: var(--white);
}
.neo-btn.neo-btn-icon__primary:active {
    background-color: var(--primary_hover) !important;
    border-color: var(--primary_hover) !important;
}
.neo-btn.neo-btn-icon__primary:active svg {
    fill: var(--white);
}
.neo-btn.neo-btn-icon__success {
    border-color: var(--success);
}
.neo-btn.neo-btn-icon__success svg {
    fill: var(--success);
}
.neo-btn.neo-btn-icon__success:hover {
    background-color: var(--success_hover);
    border-color: var(--success_hover);
}
.neo-btn.neo-btn-icon__success:hover svg {
    fill: var(--white);
}
.neo-btn.neo-btn-icon__success:active {
    background-color: var(--success_hover) !important;
    border-color: var(--success_hover) !important;
}
.neo-btn.neo-btn-icon__success:active svg {
    fill: var(--white);
}
.neo-btn.neo-btn-icon__danger {
    border-color: var(--danger);
}
.neo-btn.neo-btn-icon__danger svg {
    fill: var(--danger);
}
.neo-btn.neo-btn-icon__danger:hover {
    background-color: var(--danger_hover);
    border-color: var(--danger_hover);
}
.neo-btn.neo-btn-icon__danger:hover svg {
    fill: var(--white);
}
.neo-btn.neo-btn-icon__danger:active {
    background-color: var(--danger_hover) !important;
    border-color: var(--danger_hover) !important;
}
.neo-btn.neo-btn-icon__danger:active svg {
    fill: var(--white);
}
.neo-btn.neo-btn-icon__warning {
    border-color: var(--orange);
}
.neo-btn.neo-btn-icon__warning svg {
    fill: var(--orange);
}
.neo-btn.neo-btn-icon__warning:hover {
    background-color: var(--orange);
    border-color: var(--orange);
}
.neo-btn.neo-btn-icon__warning:hover svg {
    fill: var(--white);
}
.neo-btn.neo-btn-icon__warning:active {
    background-color: var(--orange) !important;
    border-color: var(--orange) !important;
}
.neo-btn.neo-btn-icon__warning:active svg {
    fill: var(--white);
}
.neo-btn.neo-btn-link {
    color: var(--primary);
    background: none;
    border: none;
}
.neo-btn.neo-btn-link:hover {
    text-decoration: none;
    color: var(--primary_hover);
    border: none;
}
.neo-btn.neo-btn-link:active {
    text-decoration: none;
    color: var(--primary_hover) !important;
    border: none;
    background: none !important;
}
.neo-btn.neo-btn-default {
    color: var(--primary);
    border-color: var(--primary);
    background-position: center;
    background-color: var(--white);
    transition: background 0.3s;
}
.neo-btn.neo-btn-default:hover {
    border-color: var(--primary);
    color: var(--white);
    background: var(--primary)
        radial-gradient(circle, transparent 1%, var(--primary) 1%) center/15000%;
}
.neo-btn.neo-btn-default:focus {
    box-shadow: 0 0 0 1px var(--primary);
}
.neo-btn.neo-btn-default:active,
.neo-btn.neo-btn-default .active {
    background-color: var(--primary);
    border-color: var(--primary);
    background-size: 100%;
    transition: background 0s;
    color: var(--primary);
}
.neo-btn.neo-btn-primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
    background-position: center;
    transition: background 0.3s;
}
.neo-btn.neo-btn-primary:hover {
    background-color: var(--primary_hover);
    border-color: var(--primary_hover);
    background: var(--primary_hover);
}
.neo-btn.neo-btn-primary:focus {
    box-shadow: 0 0 0 1px var(--primary);
}
.neo-btn.neo-btn-primary:active,
.neo-btn.neo-btn-primary .active {
    background-color: var(--primary);
    border-color: var(--primary);
    background-size: 100%;
    transition: background 0.3s;
}
.neo-btn.btn-lg {
    padding: 0.5rem 1rem !important;
    font-size: 1rem !important;
}
.neo-btn.btn-sm {
    padding: 0.1875rem 0.375rem !important;
    font-size: 0.75rem !important;
}
.neo-btn.neo-btn-success {
    color: var(--white);
    background-color: var(--success);
    border-color: var(--success);
}
.neo-btn.neo-btn-success:hover {
    color: var(--white);
    background-color: var(--success_hover);
    border-color: var(--success_border);
}
.neo-btn.neo-btn-success:focus {
    box-shadow: 0 0 0 1px var(--success);
}
.neo-btn.neo-btn-success:active,
.neo-btn.neo-btn-success.active {
    color: var(--white);
    background-color: var(--success_hover);
    border-color: var(--success_border);
}
.neo-btn.neo-btn-danger {
    color: var(--white);
    background-color: var(--danger);
    border-color: var(--danger);
}
.neo-btn.neo-btn-danger:hover {
    color: var(--white);
    background-color: var(--danger_hover);
    border-color: var(--danger_border);
}
.neo-btn.neo-btn-danger:focus {
    box-shadow: 0 0 0 1px var(--danger);
}
.neo-btn.neo-btn-danger:active,
.neo-btn.neo-btn-danger.active {
    color: var(--white);
    background-color: var(--danger_hover);
    border-color: var(--danger_border);
}
.neo-btn.neo-btn-warning {
    color: var(--default);
    background-color: var(--warning);
    border-color: var(--warning);
}
.neo-btn.neo-btn-warning:hover {
    color: var(--default);
    background-color: var(--warning_hover);
    border-color: var(--warning_border);
}
.neo-btn.neo-btn-warning:focus {
    box-shadow: 0 0 0 1px var(--warning);
}
.neo-btn.neo-btn-warning:active,
.neo-btn.neo-btn-warning.active {
    color: var(--white);
    background-color: var(--warning_hover);
    border-color: var(--warning_border);
}
.neo-btn-primary:not(:disabled):not(.disabled):active,
.neo-btn-primary:not(:disabled):not(.disabled).active,
.neo-show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}
.neo-btn-secondary:not(:disabled):not(.disabled):active,
.neo-btn-secondary:not(:disabled):not(.disabled).active,
.neo-show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}
.neo-btn-secondary:not(:disabled):not(.disabled):active:focus,
.neo-btn-secondary:not(:disabled):not(.disabled).active:focus,
.neo-show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 1px var(--primary);
}
.neo-btn-primary:not(:disabled):not(.disabled):active:focus,
.neo-btn-primary:not(:disabled):not(.disabled).active:focus,
.neo-show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 1px var(--primary);
}

/*  Global Styles
*  ------------------------------------------------------ */
htm,
body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: "sans-serif", Arial, Segoe UI, serif;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*  Application Styles
*  ------------------------------------------------------ */
.flightHeader {
    color: var(--focus);
}
.flightIcon {
    margin: 0 5px;
}
.travelId-details,
.flight-details,
.segment-details,
.details-wrap,
.weight-details,
.uld-details,
.revenue-details,
.sr-details,
.queued-details {
    padding: 10px 5px;
}
.remarks-wrap {
    padding: 0 10px 10px 100px;
}
.flight-details strong {
    display: block;
    color: #3171b2;
}
.segment-details {
    display: flex;
}
.segment-details i {
    margin: 0 7px;
}
.segment-details img {
    transform: rotate(45deg);
    height: 8px;
    width: 8px;
    vertical-align: inherit;
}
.segment-details select ::-ms-expand {
    display: none;
}
.segment-details select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    width: 50px;
}
.segment-details select:hover {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    margin: 0;
    padding: 0;
}
.details-wrap ul li {
    display: inline;
    padding-right: 5px;
    margin-right: 5px;
    position: relative;
}
.details-wrap ul li:last-child {
    padding-right: 0;
    margin-right: 0;
}
.details-wrap ul li.divider {
    color: #dadfe9;
}
.details-wrap ul li span {
    color: #566a81;
}
.details-wrap ul li strong {
    color: #ff6666;
}
.weight-details > strong {
    font-size: 15px;
    color: #40bf5c;
}
.weight-details span {
    display: block;
}
.weight-details span strong {
    color: #566a81;
}
.uld-details ul {
    display: flex;
    flex-wrap: wrap;
}
.uld-details ul li {
    margin-bottom: 5px;
    width: 50%;
}
.uld-details strong {
    color: #566a81;
    font-weight: normal;
    margin-left: 4px;
}
.revenue-details span {
    display: block;
    color: #566a81;
}
.revenue-details span.large {
    font-size: 15px;
}
.sr-details span {
    color: #3171b2;
}
.queued-details span {
    display: block;
}
.queued-details span strong {
    font-weight: normal;
    color: #566a81;
}
.row-edit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.row-edit > div {
    margin: 0 10px;
}
.edit-flight-no,
.edit-weight-percentage {
    margin-bottom: 10px;
}
.remarks-edit {
    margin: 0 10px;
}
.neo-grid__content-edit input,
.neo-grid__content-edit select {
    display: inline-block;
    height: 30px;
    width: 130px;
    border-radius: 3px;
    border: var(--light-grey) solid 1px;
    padding: 2px;
    font-size: 12px;
    margin-right: 5px;
}
.parentRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.parentRow .parentRowHead {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #199ed8;
    margin: 0;
}
.parentRow .parentRowInfo .parentRowInfoType {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: rgba(0, 65, 100, 0.8);
    text-align: right;
    line-height: 20px;
    margin-right: 15px;
}
/* Edit Overlay */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
.overlay .row-option-action-overlay {
    background-color: #fff;
    width: 890px;
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.3);
    padding: 20px 20px 20px 20px;
    z-index: 99;
    position: absolute;
}
.overlay .row-option-action-overlay.delete {
    width: auto;
    height: auto;
    padding: 50px;
}
.overlay .row-option-action-overlay label {
    margin-bottom: 5px;
    display: block;
}
.overlay .row-option-action-overlay input,
.overlay .row-option-action-overlay select,
.overlay .row-option-action-overlay textarea {
    width: 100%;
    border-radius: 2px;
    border: #d3d3d3 solid 1px;
    font-size: 12px;
    padding: 5px;
}
.overlay .row-option-action-overlay select {
    margin: 0 0 10px;
}
.overlay .row-option-action-overlay .btn-wrap {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}
/* Row Options */
.ng-action__popover li {
    margin-bottom: 13px;
    cursor: pointer;
}
.ng-action__popover li:last-child {
    margin: 0;
}
.ng-action__popover li i {
    width: 14px;
    display: inline-block;
}
.ng-action__popover li i.default {
    position: relative;
}
.ng-action__popover li i.default:before {
    background-color: var(--default);
    width: 6px;
    height: 6px;
    content: "";
    position: absolute;
    border-radius: 50%;
    top: -6px;
    left: 2px;
}
.ng-action__popover li span {
    margin-left: 8px;
    padding-right: 5px;
}
.ng-action__popover .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px;
    color: #ccc;
    cursor: pointer;
}
/*  CustomPanel Styles
*  ------------------------------------------------------ */
.dropbtn {
    background-color: white;
    color: #566a81;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.dropdown {
    padding: 5px 10px;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content .dropdown {
    padding: 0;
}
.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: white;
}

/*  Selected rows display section Styles
*  ------------------------------------------------------ */
.selectedRows {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}
.selectedRows .selectedRow {
    display: flex;
    flex-wrap: wrap;
    min-width: 120px;
}
.selectedRows .selectedRow p {
    margin: 3px 10px;
}

/*  CUstom class style
*  ------------------------------------------------------ */
.icargoCustomClass .neo-grid-header .neo-grid-header__results {
    color: #3171b2;
}
