@function rem($size, $base: $em-base) {
    $remSize: $size/$em-base;
    @return #{$remSize}rem;
}

.nf-filter {
    z-index: 9;
    box-shadow: 0px 0px 30px rgba(32, 77, 111, 0.4);
    position: fixed;
    font-size: rem(14);
    color: var(--placeholder);
    top: 0;
    left: 0;
    transition: 0.5s;
    background: var(--white);
    font-family: $font-family;
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #c1c1c1;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: var(--box-shadow);
    }
    &__wrap {
        display: flex;
    }
    &__list {
        .nf-customControl {
            border: none;
            border-bottom: var(--light-grey) solid 1px;
            width: 100%;
            padding: rem(10) 0 rem(11) rem(20);
            border-right: var(--light-grey) solid 1px;
        }
    }
    &__list-content {
        list-style: none;
        padding: rem(10) rem(14);
        overflow-y: scroll;
        height: calc(100vh - 55px);
        width: 215px;
        margin-bottom: 0;
    }
    &__list-item {
        cursor: pointer;
        padding-bottom: rem(8);
    }
    &__form {
        padding: 0;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
    }
    .nf-recentsearch {
        height: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 320px;
        margin-top: 4px;
        &::-webkit-scrollbar {
            width: 3px;
            scroll-behavior: smooth;
        }
        &__title {
            display: flex;
            justify-content: space-between;
            padding: 0 rem(15);
            align-items: center;
            min-height: rem(34);
        }
        &__content {
            border-top: #f3f4f3 solid 1px;
        }
        &__list {
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 21em;
            display: block;
            overflow: hidden;
            padding: rem(4) rem(4);
        }
        &__label {
            padding-right: rem(6);
            padding-left: rem(6);
        }
        &__tooltip-label {
            line-height: rem(24);
            color: rgba(255, 255, 255, 0.74);
            font-size: 14px;
        }
        &__tooltip-value {
            font-size: rem(14);
        }
        &__tooltip {
            text-align: left;
            display: block;
            padding: rem(12) rem(8);
        }
    }
    .nf-form {
        &__title {
            border-bottom: var(--light-grey) solid 1px;
            padding: rem(12) rem(10);
            text-transform: uppercase;
            font-size: rem(12);
            color: #7e82a7;
        }
        &__count {
            border: #c5cadf 1px solid;
            padding: 2px rem(10);
            border-radius: 9px;
            font-size: rem(11);
            margin-left: rem(15);
        }
        &__content {
            height: calc(100vh - 219px);
            overflow-y: scroll;
            overflow-x: hidden;
            width: 320px;
            margin-top: 5px;
            padding-bottom: rem(52);
            &::-webkit-scrollbar {
                width: 3px;
                scroll-behavior: smooth;
            }
            &.is-clear {
                padding-bottom: 65px;
            }
            .nf-form-inputs {
                padding: 0 rem(14);
            }
        }
        &__content-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 rem(15) rem(6);
        }
        &__sub-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: rem(4) 0 rem(4) 0;
        }
        &__content-controls {
            display: flex;
        }
        &__controls-block {
            display: flex;
        }
        &__controls-condition {
            padding: 0 0 0 rem(10);
        }
        &__input-wrap {
            display: flex;
            flex-direction: column;
            margin-bottom: rem(6);
        }
        &__btn-block {
            display: flex;
            margin: 0px;
            justify-content: space-between;
            border-top: var(--box-shadow) solid 1px;
            position: absolute;
            bottom: 0;
            background: white;
            width: 100%;
            top: auto;
            padding: rem(10);
        }
        &__btn-wrap {
            margin-left: auto;
            display: flex;
            align-items: center;
        }
        &__label-wrap {
            position: relative;
            width: 100%;
            margin-left: rem(6);
        }
        &__close {
            padding-left: rem(16);
        }
        &__warning {
            padding: 0px rem(10) 0px rem(10);
        }
        &__danger {
            color: var(--danger);
        }
    }
    .nf-popover {
        position: absolute;
        bottom: 55px;
        right: 17px;
        padding: rem(10) rem(15);
        text-align: left;
        width: 292px;
        display: flex;
        flex-direction: column;
        min-width: 0;
        background-color: var(--white);
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        &__title {
            color: rgba(40, 46, 108, 0.749019607843137);
            font-weight: 700;
            font-style: normal;
            font-size: rem(14);
            margin: 0 0 rem(16);
        }
        .nf-txt {
            margin-bottom: rem(10);
            display: block;
            width: 100%;
            height: 32px;
        }

        &__btn-wrap {
            display: flex;
            justify-content: flex-end;
        }
    }

    .nf-form-group {
        width: 100%;
        border-bottom: var(--box-shadow) solid 1px;
        margin-bottom: rem(4);
        padding: rem(4) 0;
        &:last-child {
            border: none;
        }
    }
    &__accordion-item {
        margin-left: rem(10);
        padding-bottom: rem(8);
    }
    &__accordion-list {
        margin-left: -5px;
    }
    .icon-close {
        height: 7px;
        width: 7px;
        fill: var(--icon-primary);
    }
    .icon-conditional {
        height: 14px;
        width: 14px;
        fill: var(--icon-primary);
    }
}
.nf-subfilter {
    position: absolute;
    top: 0;
    left: 0;
    height: 65vh;
    .nf-filter__list-content {
        list-style: none;
        padding: 0.625rem 0.875rem;
        overflow-y: scroll;
        height: calc(65vh - 43px);
        width: 215px;
        margin-bottom: 0;
    }
    .nf-filter .nf-form__content {
        height: calc(100vh - 219px);
        overflow-y: scroll;
        overflow-x: hidden;
        width: 320px;
        margin-top: 5px;
        padding-bottom: 3.25rem;
    }
}
