@function rem($size, $base: $em-base) {
    $remSize: $size/$em-base;
    @return #{$remSize}rem;
}

.neo-filter {
    z-index: 9;
    box-shadow: 0px 0px 30px rgba(32, 77, 111, 0.4);
    position: fixed;
    font-size: rem(14);
    color: #1f567e;
    line-height: 32px;
    top: 0px;
    left: 0px;
    transition: 0.5s;
    background: #fff;

    font-family: $font-family;
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #c1c1c1;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #ccc;
    }
    .filter__wrap {
        display: flex;
    }
    .filter__title {
        border-bottom: #eff1f6 solid 1px;
        padding: 2px rem(10);
        text-transform: uppercase;
        font-size: rem(12);
        color: #7e82a7;
    }
    .filter-count {
        border: #c5cadf 1px solid;
        padding: 2px rem(10);
        border-radius: 9px;
        font-size: rem(11);
        margin-left: rem(15);
    }
    .popup--save {
        position: absolute;
        bottom: 55px;
        right: 17px;
        padding: rem(10) rem(15);
        text-align: left;
        width: 292px;
        display: flex;
        flex-direction: column;
        min-width: 0;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        h5 {
            color: rgba(40, 46, 108, 0.749019607843137);
            font-weight: 700;
            font-style: normal;
            font-size: rem(14);
            margin: 0;
        }
        label {
            font-weight: 400;
            font-style: normal;
            font-size: rem(14);
            color: rgba(40, 46, 108, 0.996078431372549);
        }
        .txt {
            margin-bottom: rem(10);
            border: #ccc solid 1px;
            border-radius: 3px;
            display: block;
            width: 100%;
            height: 32px;
        }

        .btn-wrap {
            display: flex;
            justify-content: flex-end;
        }
    }

    .filter__list {
        .customControl {
            border: none;
            border-bottom: #eff1f6 solid 1px;
            width: 100%;
            padding: rem(10) 0 rem(11) rem(20);
            border-right: #eff1f6 solid 1px;
        }
    }
    .filter__content {
        height: calc(100vh - 100px);
        overflow-y: scroll;
        overflow-x: hidden;
        width: 320px;
        margin-top: 5px;
        &::-webkit-scrollbar {
            width: 3px;
            scroll-behavior: smooth;
        }
        .filter__input {
            margin-top: 7px;
            padding: 0 rem(10) rem(15);
            border-bottom: #d4d9e8 solid 1px;
            .filter__control {
                display: flex;
                align-items: center;
            }
            .neo-select__control {
                min-height: 32px;
                height: 32px;
                .neo-select__value-container {
                    height: 32px;
                }
            }
        }
        .filter__input-title {
            display: flex;
            justify-content: space-between;
        }
        .custom-switch {
            padding: 0px !important;
            margin-right: rem(20);
            .custom-control-label {
                vertical-align: middle;
                top: -5px;
                &:after {
                    width: 16px;
                    height: 16px;
                    border: #aaadc5 solid 1px;
                    top: -2px;
                    left: -37px;
                }
                &:before {
                    height: 2px;
                }
            }
            .custom-control-input:checked ~ .custom-control-label::after {
                width: 16px;
                height: 16px;
                border: #aaadc5 solid 1px;
                top: -2px;
                transform: translateX(0.81rem);
            }
        }
        .custom-control-input:focus ~ .custom-control-label:before {
            box-shadow: none;
        }
        input {
            &:before {
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        .recentFilters {
            padding: 0 0 rem(10) rem(10);
            border-bottom: #eee solid 1px;
        }
        .multiselect {
            span {
                background: #eeeff3;
                border-radius: 4px;
                color: #1f567e;
                padding: 0px rem(10);
                margin-bottom: 0;
            }
            .searchBox {
                margin-top: 0;
            }
        }
        .title {
            display: flex;
            justify-content: space-between;
            padding: 0 rem(15);
            align-items: center;
            h4 {
                margin: 0;
                font-size: rem(14);
                font-weight: normal;
            }
            h5 {
                font-weight: bold;
                margin: 0;
            }
            .controls {
                display: flex;
            }
        }
        .form-inputs {
            padding: 0 rem(14);
        }
        .condition--section {
            padding-bottom: rem(8);
            display: flex;
            flex-direction: column;
            .label.neo-form-control-label {
                line-height: 1;
                margin-bottom: 4px;
            }
        }
    }
    .filter__split {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .leftDrawer {
        list-style: none;
        padding: 0 rem(15);
        overflow-y: scroll;
        height: calc(100vh - 55px);
        width: 215px;
        margin-bottom: 0;
        li {
            &.selected {
                font-weight: bold;
            }
        }
        .arrows {
            display: flex;
            justify-content: space-between;
        }
    }
    .filter__inputwrap {
        padding: 0;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .filter__btn {
        display: flex;
        margin: 0px;
        justify-content: space-between;
        padding: 0 rem(10);
        border-top: #ccc solid 1px;
        padding-top: 3px;
        position: relative;
        .btn-wrap {
            margin-left: auto;
            display: flex;
            align-items: center;
        }
    }

    .form-row {
        border-bottom: #eff1f6 solid 1px;
        .customControl {
            border: 0;
            padding: 0 5px 0 rem(15);
            font-size: rem(14);
        }
    }
    .form-group {
        width: 100%;
        border-bottom: #d4d9e8 solid 1px;
        margin-bottom: rem(4);
        padding-bottom: rem(8);
        &:last-child {
            border: none;
        }
    }
    .custom-control {
        display: inline-block !important;
        line-height: 1.5rem;
    }
    .fieldHeads {
        cursor: pointer;
    }
    .text-danger {
        color: #dc3545;
    }
}

.control__condition {
    padding: 0 0 0 rem(10);
}

.neo-toggle-wrapper {
    padding: 0 4px 0 rem(10);
}
.control__condition__wrap {
    display: flex;
}
.accordion__item {
    margin-left: rem(10);
}
.accordion__list {
    margin-left: -5px;
}
.filter__warning {
    padding: 0px rem(10) 0px rem(10);
}
.filter__recentFilterTitle {
    padding: 0px rem(10) 0px rem(10);
}
label.neo-form-control-label {
    line-height: 1;
    margin-bottom: 4px;
    margin-top: 4px;
}
.sub-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}
.close {
    padding-left: rem(16);
}
